In [ ]:
import mplfinance as mpf
import pandas as pd

# Sample DataFrame with OHLC data
data = {
    'Date': ['2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04'],
    'Open': [100, 102, 105, 103],
    'High': [110, 107, 108, 105],
    'Low': [99, 101, 102, 100],
    'Close': [105, 104, 106, 102]
}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# Plot candlestick chart
mpf.plot(df, type='candle', style='charles', title='Candlestick Chart', ylabel='Price')

In [1]:
import mplfinance as mpf
import pandas as pd
import numpy as np


candles = pd.read_csv(f"./data/EURUSD_5.csv")
candles.columns = ["timestamp", "Open", "High", "Low", "Close", "Volume", "trades"]
candles = candles[["timestamp", "Open", "High", "Low", "Close", "Volume"]]
candles["timestamp"] = candles["timestamp"]*1000
candles["timestamp"] = pd.to_datetime(candles["timestamp"], unit="ms")
candles.set_index("timestamp", inplace=True)
df = candles[-60:]
df

                        Open     High      Low    Close        Volume
timestamp
2024-03-31 19:00:00  1.07870  1.07913  1.07836  1.07900  57480.040763
2024-03-31 19:05:00  1.07899  1.07909  1.07841  1.07880  48377.303879
2024-03-31 19:10:00  1.07891  1.07899  1.07842  1.07857  44531.501198
2024-03-31 19:15:00  1.07885  1.07899  1.07854  1.07895  33752.186642
2024-03-31 19:20:00  1.07885  1.07917  1.07850  1.07882  51475.211728
2024-03-31 19:25:00  1.07881  1.07882  1.07859  1.07881   4334.315238
2024-03-31 19:30:00  1.07875  1.07888  1.07835  1.07886  39480.968244
2024-03-31 19:35:00  1.07885  1.07887  1.07770  1.07886  59310.493341
2024-03-31 19:40:00  1.07856  1.07886  1.07854  1.07875  13786.674146
2024-03-31 19:45:00  1.07878  1.07909  1.07847  1.07865  34823.846960
2024-03-31 19:50:00  1.07855  1.07890  1.07855  1.07890   2300.946791
2024-03-31 19:55:00  1.07874  1.07890  1.07851  1.07887  10564.590702
2024-03-31 20:00:00  1.07888  1.07890  1.07870  1.07873   7079.382215
2024-03-31 20:05:00  1.07872  1.07890  1.07837  1.07859   3724.906346
2024-03-31 20:10:00  1.07886  1.07889  1.07825  1.07878   9769.353929
2024-03-31 20:15:00  1.07863  1.07906  1.07851  1.07880  37635.858387
2024-03-31 20:20:00  1.07870  1.07929  1.07846  1.07870  58072.690190
2024-03-31 20:25:00  1.07872  1.07889  1.07826  1.07840  55133.006400
2024-03-31 20:30:00  1.07866  1.07886  1.07842  1.07867  33802.274141
2024-03-31 20:35:00  1.07852  1.07866  1.07838  1.07866    395.381591
2024-03-31 20:40:00  1.07866  1.07882  1.07841  1.07844  14122.512758
2024-03-31 20:45:00  1.07880  1.07886  1.07843  1.07886  19038.291229
2024-03-31 20:50:00  1.07885  1.07886  1.07842  1.07842  23708.767224
2024-03-31 20:55:00  1.07841  1.07874  1.07824  1.07838   9938.090344
2024-03-31 21:00:00  1.07862  1.07879  1.07821  1.07865  20648.090632
2024-03-31 21:05:00  1.07877  1.07889  1.07855  1.07856   8522.120191
2024-03-31 21:10:00  1.07875  1.07900  1.07861  1.07883   7483.566265
2024-03-31 21:15:00  1.07895  1.07902  1.07863  1.07863  18969.129458
2024-03-31 21:20:00  1.07899  1.07920  1.07885  1.07919   9573.867094
2024-03-31 21:25:00  1.07910  1.07924  1.07886  1.07910  18925.133493
2024-03-31 21:30:00  1.07909  1.07910  1.07889  1.07909   2412.160672
2024-03-31 21:35:00  1.07909  1.07910  1.07884  1.07884   5895.341144
2024-03-31 21:40:00  1.07890  1.07890  1.07851  1.07874  15845.824506
2024-03-31 21:45:00  1.07890  1.07890  1.07862  1.07880   3294.884913
2024-03-31 21:50:00  1.07880  1.07897  1.07870  1.07871  17179.344380
2024-03-31 21:55:00  1.07896  1.07907  1.07881  1.07907   1297.433588
2024-03-31 22:00:00  1.07898  1.07928  1.07819  1.07927  74342.566259
2024-03-31 22:05:00  1.07927  1.07930  1.07900  1.07927  10150.824445
2024-03-31 22:10:00  1.07882  1.07919  1.07881  1.07890   6927.695169
2024-03-31 22:15:00  1.07910  1.07920  1.07880  1.07900   7582.803134
2024-03-31 22:20:00  1.07910  1.07910  1.07869  1.07910  67149.138399
2024-03-31 22:25:00  1.07910  1.07940  1.07881  1.07913   8282.209051
2024-03-31 22:30:00  1.07903  1.07918  1.07865  1.07913  12008.664038
2024-03-31 22:35:00  1.07885  1.07901  1.07876  1.07896   8716.180417
2024-03-31 22:40:00  1.07881  1.07890  1.07853  1.07860  48763.532930
2024-03-31 22:45:00  1.07867  1.07870  1.07848  1.07867  15229.857863
2024-03-31 22:50:00  1.07850  1.07870  1.07808  1.07840  27392.379796
2024-03-31 22:55:00  1.07831  1.07850  1.07808  1.07840  26106.404617
2024-03-31 23:00:00  1.07832  1.07860  1.07811  1.07851  46851.070668
2024-03-31 23:05:00  1.07851  1.07857  1.07822  1.07849  30852.540922
2024-03-31 23:10:00  1.07849  1.07860  1.07840  1.07854   9029.044899
2024-03-31 23:15:00  1.07859  1.07860  1.07840  1.07858  19525.590678
2024-03-31 23:20:00  1.07850  1.07870  1.07841  1.07844   3368.212043
2024-03-31 23:25:00  1.07861  1.07882  1.07840  1.07868  18190.547330
2024-03-31 23:30:00  1.07869  1.07889  1.07831  1.07860  20771.570356
2024-03-31 23:35:00  1.07860  1.07933  1.07852  1.07861  94248.052920
2024-03-31 23:40:00  1.07885  1.07893  1.07856  1.07893  13828.365742
2024-03-31 23:45:00  1.07884  1.07889  1.07860  1.07872   2714.420543
2024-03-31 23:50:00  1.07859  1.07904  1.07854  1.07880   4183.095100
2024-03-31 23:55:00  1.07891  1.07893  1.07853  1.07867   5686.084318

In [26]:
item = df.iloc[1]
item

Open          1.078990
High          1.079090
Low           1.078410
Close         1.078800
Volume    48377.303879
Name: 2024-03-31 19:05:00, dtype: float64

In [23]:
# Get the index of the item
index_of_item = df[df == item].dropna().index[-1]
print(index_of_item)

2024-03-31 19:05:00

In [29]:
df

                        Open     High      Low    Close        Volume
timestamp
2024-03-31 19:00:00  1.07870  1.07913  1.07836  1.07900  57480.040763
2024-03-31 19:05:00  1.07899  1.07909  1.07841  1.07880  48377.303879
2024-03-31 19:10:00  1.07891  1.07899  1.07842  1.07857  44531.501198
2024-03-31 19:15:00  1.07885  1.07899  1.07854  1.07895  33752.186642
2024-03-31 19:20:00  1.07885  1.07917  1.07850  1.07882  51475.211728
2024-03-31 19:25:00  1.07881  1.07882  1.07859  1.07881   4334.315238
2024-03-31 19:30:00  1.07875  1.07888  1.07835  1.07886  39480.968244
2024-03-31 19:35:00  1.07885  1.07887  1.07770  1.07886  59310.493341
2024-03-31 19:40:00  1.07856  1.07886  1.07854  1.07875  13786.674146
2024-03-31 19:45:00  1.07878  1.07909  1.07847  1.07865  34823.846960
2024-03-31 19:50:00  1.07855  1.07890  1.07855  1.07890   2300.946791
2024-03-31 19:55:00  1.07874  1.07890  1.07851  1.07887  10564.590702
2024-03-31 20:00:00  1.07888  1.07890  1.07870  1.07873   7079.382215
2024-03-31 20:05:00  1.07872  1.07890  1.07837  1.07859   3724.906346
2024-03-31 20:10:00  1.07886  1.07889  1.07825  1.07878   9769.353929
2024-03-31 20:15:00  1.07863  1.07906  1.07851  1.07880  37635.858387
2024-03-31 20:20:00  1.07870  1.07929  1.07846  1.07870  58072.690190
2024-03-31 20:25:00  1.07872  1.07889  1.07826  1.07840  55133.006400
2024-03-31 20:30:00  1.07866  1.07886  1.07842  1.07867  33802.274141
2024-03-31 20:35:00  1.07852  1.07866  1.07838  1.07866    395.381591
2024-03-31 20:40:00  1.07866  1.07882  1.07841  1.07844  14122.512758
2024-03-31 20:45:00  1.07880  1.07886  1.07843  1.07886  19038.291229
2024-03-31 20:50:00  1.07885  1.07886  1.07842  1.07842  23708.767224
2024-03-31 20:55:00  1.07841  1.07874  1.07824  1.07838   9938.090344
2024-03-31 21:00:00  1.07862  1.07879  1.07821  1.07865  20648.090632
2024-03-31 21:05:00  1.07877  1.07889  1.07855  1.07856   8522.120191
2024-03-31 21:10:00  1.07875  1.07900  1.07861  1.07883   7483.566265
2024-03-31 21:15:00  1.07895  1.07902  1.07863  1.07863  18969.129458
2024-03-31 21:20:00  1.07899  1.07920  1.07885  1.07919   9573.867094
2024-03-31 21:25:00  1.07910  1.07924  1.07886  1.07910  18925.133493
2024-03-31 21:30:00  1.07909  1.07910  1.07889  1.07909   2412.160672
2024-03-31 21:35:00  1.07909  1.07910  1.07884  1.07884   5895.341144
2024-03-31 21:40:00  1.07890  1.07890  1.07851  1.07874  15845.824506
2024-03-31 21:45:00  1.07890  1.07890  1.07862  1.07880   3294.884913
2024-03-31 21:50:00  1.07880  1.07897  1.07870  1.07871  17179.344380
2024-03-31 21:55:00  1.07896  1.07907  1.07881  1.07907   1297.433588
2024-03-31 22:00:00  1.07898  1.07928  1.07819  1.07927  74342.566259
2024-03-31 22:05:00  1.07927  1.07930  1.07900  1.07927  10150.824445
2024-03-31 22:10:00  1.07882  1.07919  1.07881  1.07890   6927.695169
2024-03-31 22:15:00  1.07910  1.07920  1.07880  1.07900   7582.803134
2024-03-31 22:20:00  1.07910  1.07910  1.07869  1.07910  67149.138399
2024-03-31 22:25:00  1.07910  1.07940  1.07881  1.07913   8282.209051
2024-03-31 22:30:00  1.07903  1.07918  1.07865  1.07913  12008.664038
2024-03-31 22:35:00  1.07885  1.07901  1.07876  1.07896   8716.180417
2024-03-31 22:40:00  1.07881  1.07890  1.07853  1.07860  48763.532930
2024-03-31 22:45:00  1.07867  1.07870  1.07848  1.07867  15229.857863
2024-03-31 22:50:00  1.07850  1.07870  1.07808  1.07840  27392.379796
2024-03-31 22:55:00  1.07831  1.07850  1.07808  1.07840  26106.404617
2024-03-31 23:00:00  1.07832  1.07860  1.07811  1.07851  46851.070668
2024-03-31 23:05:00  1.07851  1.07857  1.07822  1.07849  30852.540922
2024-03-31 23:10:00  1.07849  1.07860  1.07840  1.07854   9029.044899
2024-03-31 23:15:00  1.07859  1.07860  1.07840  1.07858  19525.590678
2024-03-31 23:20:00  1.07850  1.07870  1.07841  1.07844   3368.212043
2024-03-31 23:25:00  1.07861  1.07882  1.07840  1.07868  18190.547330
2024-03-31 23:30:00  1.07869  1.07889  1.07831  1.07860  20771.570356
2024-03-31 23:35:00  1.07860  1.07933  1.07852  1.07861  94248.052920
2024-03-31 23:40:00  1.07885  1.07893  1.07856  1.07893  13828.365742
2024-03-31 23:45:00  1.07884  1.07889  1.07860  1.07872   2714.420543
2024-03-31 23:50:00  1.07859  1.07904  1.07854  1.07880   4183.095100
2024-03-31 23:55:00  1.07891  1.07893  1.07853  1.07867   5686.084318

In [ ]:
# Calculate Bollinger Bands
df = df.copy()
df['SMA'] = df['Close'].rolling(window=3).mean()
df['Upper Band'] = df['SMA'] + 2 * df['Close'].rolling(window=3).std()
df['Lower Band'] = df['SMA'] - 2 * df['Close'].rolling(window=3).std()

In [ ]:
# Initialize empty arrays filled with NaN for plotting trades and the line
trade_points = np.full(len(df), np.nan)
trade_lines = np.full(len(df), np.nan)

# Define trade points
trade_start_idx = 10  # Index of trade start (e.g., 2024-08-02)
trade_end_idx = 39    # Index of trade end (e.g., 2024-08-04)

# Set the trade points at specific indices
trade_points[trade_start_idx] = df['Close'].iloc[trade_start_idx]
trade_points[trade_end_idx] = df['Close'].iloc[trade_end_idx]

# Set the line data between trade start and end
trade_lines[trade_start_idx:trade_end_idx+1] = df['Close'].iloc[trade_start_idx:trade_end_idx+1]

# Create addplots for trade points and dashed lines
color = "green"
line_width = 1.5

# Create addplots for trade points and straight line
ap_points = mpf.make_addplot(trade_points, scatter=True, markersize=100, marker='^', color=color)
ap_line = mpf.make_addplot(trade_lines, color=color, linestyle='--', width=line_width)

# Define a custom style with opacity for the candlesticks
custom_style = mpf.make_mpf_style(base_mpf_style='charles', 
                        marketcolors={'candle': {'up': 'green', 'down': 'red'},
                                    'edge': {'up': 'k', 'down': 'k'},
                                    'wick': {'up': 'k', 'down': 'k'},
                                    'ohlc': {'up': 'k', 'down': 'k'},
                                    'volume': {'up': '#1f77b4', 'down': '#1f77b4'},
                                    'vcedge': {'up': '#1f77b4', 'down': '#1f77b4'},
                                    'vcdopcod': False,
                                    'alpha': 0.5})


single_point = np.full(len(df), np.nan)

price_level_start = df['Close'].iloc[trade_start_idx]  # Use the close price at that index
price_level_end = df['Close'].iloc[trade_end_idx]  # Use the close price at that index

# Set the single point at the specified index
single_point[trade_start_idx] = price_level_start
single_point

# Plot the candlestick chart with trade points and dashed lines
fig, axlist = mpf.plot(df,
         type='candle',
         style=custom_style,
         title=f"{df.index[trade_start_idx]} to {df.index[trade_end_idx]}",
         addplot=[
            mpf.make_addplot(single_point, scatter=True, markersize=50, marker='o', color=color),
            mpf.make_addplot(df['Upper Band'], color='orange', width=line_width),
            mpf.make_addplot(df['Lower Band'], color='orange', width=line_width)],
         volume=False, returnfig=True)

ax = axlist[0]
ax.axhline(y=price_level_start, color=color, linestyle='--', linewidth=line_width, label='Horizontal Line at 104')
ax.axhline(y=price_level_end, color="red", linestyle='--', linewidth=line_width, label='Horizontal Line at 104')
fig.savefig(fname=f"{df.index[trade_start_idx]} to {df.index[trade_end_idx]}.png")

In [3]:
import ta.momentum
from strategies.strategy import Strategy
import ta
import pandas as pd

class TestStrat(Strategy):
    def __init__(self, data: pd.DataFrame):
        data = data.copy()
        self.indicators = dict({
            "rsi": lambda: ta.momentum.rsi(close=data["close"], window=13)
        })

    def next(self, current_data):
        print("Current data in strat: ", current_data)

In [2]:
import backtest

bt = backtest.Backtest(
    active="EURUSD_5",
    strategies=[TestStrat])

index_start = bt.__current_data__.index[10]
index_end = bt.__current_data__.index[15]
bt.make_plot_snapshot(index_start, index_end)

AttributeError: 'list' object has no attribute 'indicators'

In [12]:
import pandas as pd
pd.Timestamp("2020-03-12 14:45:00")

Timestamp('2020-03-12 14:45:00')

NameError: name 'bt' is not defined

In [6]:
import pandas as pd
df1 = pd.DataFrame([[34], [34], [34], [34]], columns=["Close"])
df1.loc[:2]

   Close
0     34
1     34
2     34

In [1]:
import pandas as pd
import numpy as np

In [18]:
SYMBOL = "#AAPL_otc"
PERIOD = 60
UNIT_PERIOD = 60
ITERATION = 0

data = pd.read_csv(f"./data-out/{SYMBOL}_{PERIOD}{'_' + str(ITERATION) if ITERATION else str()}.csv")
data.loc[:, "time"] = pd.to_datetime(data["time"])
data.loc[:, "delta"] = data["time"].diff(1)
data["delta"].fillna(pd.Timedelta(seconds=PERIOD), inplace=True)
data.sort_values("time", inplace=True)
data.set_index("time", inplace=True)
data

/tmp/ipykernel_4409/833630192.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["delta"].fillna(pd.Timedelta(seconds=PERIOD), inplace=True)
/tmp/ipykernel_4409/833630192.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["delta"].fillna(pd.Timedelta(seconds=PERIOD), inplace=True)
/home/lebyanelm/Projects/Options-Strategy-Simulator/.venv/lib/python3.10/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

                        open     high      low    close           delta
time
2018-08-03 09:14:00  209.202  209.202  209.202  209.202 0 days 00:01:00
2018-08-03 09:15:00  209.225  209.368  209.070  209.070 0 days 00:01:00
2018-08-03 09:16:00  209.078  209.227  208.989  209.048 0 days 00:01:00
2018-08-03 09:17:00  209.060  209.333  209.054  209.333 0 days 00:01:00
2018-08-03 09:18:00  209.345  209.448  209.123  209.266 0 days 00:01:00
...                      ...      ...      ...      ...             ...
2023-04-29 21:16:00  169.285  169.377  169.285  169.374 0 days 00:01:00
2023-04-29 21:17:00  169.372  169.372  169.159  169.167 0 days 00:01:00
2023-04-29 21:18:00  169.170  169.240  169.123  169.224 0 days 00:01:00
2023-04-29 21:19:00  169.224  169.332  169.213  169.323 0 days 00:01:00
2023-04-29 21:20:00  169.323  169.415  169.316  169.415 0 days 00:01:00

[2490729 rows x 5 columns]

In [19]:
data[~data.index.duplicated(keep='first')].shape[0] == data.shape[0]

True

In [15]:
data = data[~data.index.duplicated(keep='first')]

In [22]:
data[data.duplicated()]

                        open     high      low    close           delta
time
2018-08-07 16:44:00  209.773  209.773  209.773  209.773 0 days 00:01:00
2018-08-07 21:44:00  210.590  210.590  210.590  210.590 0 days 00:01:00
2018-08-08 17:26:00  212.606  212.606  212.606  212.606 0 days 00:01:00
2018-08-08 23:44:00  208.754  208.754  208.754  208.754 0 days 00:01:00
2018-08-10 11:56:00  212.150  212.150  212.150  212.150 0 days 00:01:00
...                      ...      ...      ...      ...             ...
2023-04-13 07:18:00  163.193  163.193  163.193  163.193 0 days 00:01:00
2023-04-13 07:19:00  163.193  163.193  163.193  163.193 0 days 00:01:00
2023-04-13 07:20:00  163.193  163.193  163.193  163.193 0 days 00:01:00
2023-04-13 07:21:00  163.193  163.193  163.193  163.193 0 days 00:01:00
2023-04-17 04:30:00  167.496  167.642  167.496  167.621 0 days 00:01:00

[10700 rows x 5 columns]

In [23]:
data[data["delta"] != pd.Timedelta(minutes=PERIOD/UNIT_PERIOD)]

                        open     high      low    close           delta
time
2018-08-14 20:55:00  203.505  203.505  203.187  203.265 0 days 00:23:00
2018-08-25 09:22:00  218.894  218.954  218.807  218.930 0 days 00:05:00
2018-08-25 10:07:00  219.355  219.355  219.080  219.194 0 days 00:31:00
2018-09-01 10:57:00  222.738  222.825  222.583  222.598 0 days 01:58:00
2018-09-15 10:08:00  224.075  224.178  224.005  224.062 0 days 00:05:00
...                      ...      ...      ...      ...             ...
2019-10-11 21:22:00  216.520  216.520  216.520  216.520 0 days 00:33:00
2020-08-04 16:04:00  436.482  436.482  436.482  436.482 0 days 00:06:00
2021-04-11 12:17:00  132.298  132.298  132.298  132.298 0 days 00:17:00
2022-02-27 12:25:00  164.386  164.386  164.386  164.386 0 days 00:24:00
2023-03-29 04:25:00  163.354  163.354  163.354  163.354 0 days 01:17:00

[76 rows x 5 columns]

In [27]:
A, _ = round(1-data[data["delta"] != pd.Timedelta(minutes=PERIOD/UNIT_PERIOD)].shape[0]/data.shape[0]*100, 10), "ACCURACY RATE"
A, _

(0.9969486845, 'ACCURACY RATE')

In [28]:
A > 0.8402418711

True

In [43]:
data[data["delta"] != pd.Timedelta(minutes=PERIOD/UNIT_PERIOD)]

                        open     high      low    close           delta
time
2018-08-07 16:45:00  209.757  210.264  209.757  210.264 0 days 00:02:00
2018-08-07 21:45:00  210.604  210.766  210.559  210.671 0 days 00:02:00
2018-08-08 17:27:00  212.621  213.028  212.608  212.963 0 days 00:02:00
2018-08-08 23:45:00  208.793  209.073  208.769  208.794 0 days 00:02:00
2018-08-10 11:57:00  212.168  212.371  212.168  212.260 0 days 00:02:00
...                      ...      ...      ...      ...             ...
2023-08-08 04:19:00  182.281  182.325  182.281  182.292 0 days 00:02:00
2023-09-19 04:57:00  180.811  180.811  180.746  180.746 0 days 00:02:00
2023-09-20 18:22:00  186.965  186.965  186.925  186.946 0 days 00:02:00
2023-09-27 07:12:00  178.814  178.891  178.796  178.869 0 days 00:02:00
2023-10-05 00:43:00  172.070  172.143  172.056  172.141 0 days 00:02:00

[3982 rows x 5 columns]

In [52]:
start = pd.to_datetime("2018-08-07 21:44:00")
end   = pd.to_datetime("2018-08-07 21:45:00")

In [54]:
data.loc[start:]

                        open     high      low    close           delta
time
2018-08-07 21:44:00  210.590  210.590  210.590  210.590 0 days 00:01:00
2018-08-07 21:45:00  210.604  210.766  210.559  210.671 0 days 00:01:00
2018-08-07 21:46:00  210.759  210.852  210.545  210.750 0 days 00:01:00
2018-08-07 21:47:00  210.740  210.994  210.740  210.994 0 days 00:01:00
2018-08-07 21:48:00  211.005  211.178  210.916  211.108 0 days 00:01:00
...                      ...      ...      ...      ...             ...
2023-10-13 01:26:00  183.068  183.095  183.005  183.032 0 days 00:01:00
2023-10-13 01:27:00  183.028  183.068  183.010  183.059 0 days 00:01:00
2023-10-13 01:28:00  183.062  183.084  182.919  182.953 0 days 00:01:00
2023-10-13 01:29:00  182.953  183.010  182.936  182.966 0 days 00:01:00
2023-10-13 01:30:00  182.966  182.983  182.834  182.855 0 days 00:01:00

[2712661 rows x 5 columns]

In [12]:
data.iloc[-1].name.timestamp()

1725987060.0